      html {
        height: 100%;
      }
      body {
        margin: 0;
        padding: 0;
        background: #000000 url(loading.gif) center center no-repeat;
        color: #ffffff;
        font-family: tahoma, sans-serif;
        font-size: 11px;
        line-height: 20px;
        height: 100%;
		overflow: hidden
      }

	  .hide{
		opacity: 1;
		-webkit-transition: opacity .5s ease-out;
		-moz-transition: opacity .5s ease-out;
		-o-transition: opacity .5s ease-out;
		}

      #info {
        font-size: 11px;
        position: absolute;
        bottom: 5px;
        background-color: rgba(0,0,0,0.8);
        border-radius: 3px;
        right: 10px;
        padding: 10px;

      }

      #currentInfo {
        width: 270px;
        position: absolute;
        left: 20px;
        top: 63px;

        background-color: rgba(0,0,0,0.2);

        border-top: 1px solid rgba(255,255,255,0.4);
        padding: 10px;
      }

      a {
        color: #aaa;
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }

      .bull {
        padding: 0 5px;
        color: #555;
      }

	  .info{
	  opacity: 1.0;
     -webkit-transition: all 0.5s ease-out;
	  }

      #title {
		 position: absolute;
        top: 20px;
        width: 300px;
        left: 20px;
		background-color: rgba(0,0,0,0.2);
        border-radius: 3px;
        padding: 10px;
		overflow: auto;
		}

      #ce span {
        display: none;
      }

      #ce {
        width: 107px;
        height: 55px;
        display: block;
        position: absolute;
        bottom: 15px;
        left: 20px;
        background: url(ce.png);
      }

	#text{
		position: absolute;
        top: 20px;
        width: 300px;
        right: 20px;
        background-color: rgba(0,0,0,0.2);
        border-radius: 3px;
        padding: 10px;
        overflow: auto;
	}
	h1{ font: 20px Georgia; margin: 0 0 1em 0 }
	#toggle{ position: absolute; right: 10px; top: 10px; text-align: right }
	#container canvas{ position: absolute; left: 0; top: 0 }
