body {
  color: white;
  background-color: black;
}

h1 {
    font-family: 'Helvetica Neue', sans-serif;
}

h2 {
    font-family: 'Helvetica Neue', sans-serif;
}

p {
    font-family: 'Helvetica Neue', sans-serif;
}

#stats {
  display: none;
}

.navbar-container {
  background-color: black;
  position: relative;
  padding-top: 5px;
}

#tweet-container {
  padding-top: 30px;
  display: none;
}


#searchbar {
  opacity: 0.6;
  border: 3px solid #4195fc; /* some kind of blue border */

   /* other CSS styles */

   /* round the corners */
   -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
           border-radius: 6px;


   /* make it glow! */
   -webkit-box-shadow: 0px 0px 6px #4195fc;
      -moz-box-shadow: 0px 0px 6px #4195fc;
           box-shadow: 0px 0px 6px #4195fc;

}

#brand {
  color: white;
  font-size: 50px;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center
}

#login {
  color: white;
  font-size: 30px;
  font-family: 'Helvetica Neue', sans-serif;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center
}

#login:hover {
  color: gray;
}


/*#globe-container {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: 0px
}*/

.navbar {
  opacity: 0.4;
  filter: alpha(opacity=40); /* For IE8 and earlier */
	border:2px solid #456879;
	border-radius:10px;
	height: 22px;
	width: 200px;
  text-align: center;
}

.overlay{
 display:none;
}

#overlays-container {
 position: fixed;
 text-align: center;
 width: 80%;
 height: 90%;
 top: 5%;
 left: 8%;
 background-color: rgba(0, 0, 0, .8);;
 border-style: solid;
 border-width: 5px;
 border-color: #4ECDC4 ;
 border-radius: 15px;
 z-index: 11;
 font-family: 'Helvetica Neue', sans-serif;
 overflow: auto;
}

.overlay-element {
 position: relative;
 padding-right: 200px;
 top: 40%;
 font-family: 'Helvetica Neue', sans-serif;
 transform: translateY(-50%);*/
}

#overlay-background {
 position: absolute;
 font-family: 'Helvetica Neue', sans-serif;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 z-index: 10;
 background-color: rgba(0,0,0,0.5);
}
