body {
  color: white;
  background-color: black;
  font-family: 'Roboto', sans-serif;
 }

#body-container {
  position: relative;
}

#globe-container {
  position: absolute;
  left: 0;
  z-index: 0;
  padding-right: 0;
  padding-left: 0;
  top: 70px;
}

#stats {
  display: none;
}

#searchbar{
  padding-right: 10%;
  color:white;
}

img#twittericon{
  margin-top: 20px;
  margin-left: 30px
}

a#brand {
  margin-left: -20px;
}

.navbar-container {
  position: relative;
  padding-top: 5px;
  z-index: 1;
}

#tweet-container {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  top: 160px;
}

.text img {
  width: 16px;
  height: 16px;
}

.ui.input input:focus, .ui.input.focus input {
    border-color: black;
    background: white;
    font-family: 'Lucidatypewriter', monospace;
    font-size: 20px;
}

.ui.input input{
    border-color: black;
    background: white;
    color: black;
    font-family: 'Lucidatypewriter', monospace;
    font-size: 20px;
}

.ui.menu .item>.input input {
  font-size: 20px;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background: white;
  color: black
}

#search {
  color: white;
}

.item {
  margin-left: 20%
}

.searchbar {
  padding-right: 0%
}

#search-term {
  background-color: rgba(255, 255, 255, 0.2);
  color:white;
  margin-right: 100px
}

#brand {
  color: white;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
  font-family: 'Lucidatypewriter', monospace;
}

h5 {
  color: white;
  font-size: 1em;
  font-weight: 100;
  z-index: 3
}

.text {
  margin-top: -30px;
  margin-left: 25px;
  margin-right: 900px;
  opacity: 0.7;
  z-index: 3
}

#login {
  color: white;
  font-size: 25px;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
  font-family: 'Lucidatypewriter', monospace;
}

#login:hover {
  color: gray;
}

.loginpage {
  margin-top: 15%;
}

.signup {
  margin-top: 15%;
}

.profile {
  margin-top: 20%;
}

#logout{
  margin-top: 10px;
  margin-left: 90%;
}

.navbar {
  opacity: 0.4;
  filter: alpha(opacity=40); /* For IE8 and earlier */
	border:2px solid #456879;
	border-radius:10px;
	height: 22px;
	width: 200px;
  text-align: center;
}
