body {
  color: white;
  background-color: black;
}

#globe-container {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

#tweet-container {
      border:2px solid #456879 ;
      border-radius:10px;
      height: 22px;
      width: 200px;
   text-align: center;
}

.navbar {
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
	border:2px solid #456879;
	border-radius:10px;
	height: 22px;
	width: 200px;
  text-align: center;
}

.navbar:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

.overlay{
 display:none;
}

#overlays-container {
 position: fixed;
 text-align: center;
 width: 80%;
 height: 90%;
 top: 5%;
 left: 8%;
 background-color: rgba(0, 0, 0, .8);;
 border-style: solid;
 border-width: 5px;
 border-color: #4ECDC4 ;
 border-radius: 15px;
 z-index: 11;
 overflow: auto;
}

.overlay-element {
 position: relative;
 padding-right: 200px;
 top: 40%;
 transform: translateY(-50%);*/
}

#overlay-background {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 z-index: 10;
 background-color: rgba(0,0,0,0.5);
}
